[defaults]
inventory = ansible/inventory/ks5.example.ini
host_key_checking = True
retry_files_enabled = False
stdout_callback = yaml
interpreter_python = auto_silent
roles_path = ansible/roles

[ssh_connection]
pipelining = True
